.auth_form_container{
    flex-direction: column;
    width: 100%;
}

.wallets_container{
    width: 100%;
    margin-top: 40px;

    button{
        display: block;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        margin: auto;
        border-radius: 20px;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
        margin-bottom: 15px;
        transition: .3s;

        &:hover{
            opacity: .8;
            transform: scale(1.05);
        }
    }

    #metamask_btn{
        background-color: orangered;
        color: white;
    }
    #coinbase{
        color: darkblue;
        background-color: white;
    }
}